<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonFastCGI"
           path="*" verb="*"
           modules="FastCgiModule"
           scriptProcessor="C:\inetpub\rdportal-iisnode\python_server\rduploadservice\venv\Scripts\python.exe|C:\inetpub\rdportal-iisnode\python_server\rduploadservice\venv\Lib\site-packages\wfastcgi.py"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>

    <!-- Disable directory listing in production -->
    <directoryBrowse enabled="false" />

    <defaultDocument>
      <files>
        <add value="index.py" />
      </files>
    </defaultDocument>

    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="bin" />
          <add segment="App_Code" />
          <add segment="App_Data" />
        </hiddenSegments>
      </requestFiltering>

      <authentication>
        <anonymousAuthentication enabled="true" />
        <windowsAuthentication enabled="false" />
      </authentication>
    </security>
  </system.webServer>

  <appSettings>
    <add key="WSGI_HANDLER" value="rduploadservice.wsgi.application" />
    <add key="DJANGO_SETTINGS_MODULE" value="rduploadservice.settings" />
    <add key="PYTHONPATH" value="C:\inetpub\rdportal-iisnode\python_server\rduploadservice" />
    <add key="WSGI_PYTHON_HOME" value="C:\inetpub\rdportal-iisnode\python_server\rduploadservice\venv" />
    <add key="WSGI_LOG" value="C:\inetpub\rdportal-iisnode\python_server\Logs\wfastcgi.log" />
    <add key="WSGI_RESTART_FILE_REGEX" value=".*((\.py)|(\.config))$" />
  </appSettings>
</configuration>
