# Node.js
/node_modules

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Compiled C extensions
*.so

# Virtual environments
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
db.sqlite3
*.sqlite3
*.pgsql
media/
temp_media/

# Dotenv
.env

# Packaging
*.egg
*.egg-info/
.installed.cfg
MANIFEST
build/
dist/
wheels/
sdist/
.eggs/
lib/
lib64/
parts/
develop-eggs/
downloads/

# Pipenv / Poetry
Pipfile.lock
pipenv/
poetry.lock

# mypy / typing
.mypy_cache/
.dmypy.json
.pytype/
.pyre/

# Celery
celerybeat-schedule
celerybeat.pid

# Jupyter
.ipynb_checkpoints

# Testing
.tox/
.coverage
coverage.xml
*.cover
.hypothesis/
.cache/
htmlcov/

# Docs
docs/_build/
site/

# Sphinx / MkDocs / PyBuilder
target/

# IDEs
.idea/
.vscode/
.sublime-project
.sublime-workspace
.spyderproject
.ropeproject

# OS files
.DS_Store
Thumbs.db

# Installer logs
pip-log.txt
