<configuration>
  <system.webServer>
    <handlers>
            <add name="Python-FastCGI" path="*.py" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python312\python.exe" resourceType="Either" />
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python312\python.exe|C:\Python312\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    
    <directoryBrowse enabled="true" />
        <security>
            <authentication>
                <windowsAuthentication enabled="true" />
                <anonymousAuthentication enabled="false" />
            </authentication>
        </security>
  </system.webServer>

  <appSettings>
  <!-- Required settings -->
  <add key="WSGI_HANDLER" value="rduploadservice.wsgi.application" />
  <add key="PYTHONPATH" value="C:\inetpub\rdportal-iisnode\python_server\rduploadservice" />

  <!-- Optional settings -->
  <add key="WSGI_LOG" value="C:\inetpub\rdportal-iisnode\python_server\Logs\logs.py" />
  <add key="WSGI_RESTART_FILE_REGEX" value=".*((\.py)|(\.config))$" />
  <add key="APPINSIGHTS_INSTRUMENTATIONKEY" value="__instrumentation_key__" />
  <add key="DJANGO_SETTINGS_MODULE" value="rduploadservice.settings" />
  <add key="WSGI_PTVSD_SECRET" value="__secret_code__" />
  <add key="WSGI_PTVSD_ADDRESS" value="127.0.0.1:3000" />
</appSettings>

</configuration>
